<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>if conditions</h1>
    {%if 200 > 100 %}
    <h1>200</h1>
    {% endif %}
    {%if a > b %}
    <h1>a is max</h1>
    {% else %}
    <h1>b is max</h1>
    {% endif %}
    {% a > b and a > c %}
    <h1> a is max</h1>
    {% elif b > c %}
    <h1>b is max </h1>
    {% else %}
    <h1>c is max</h1>
    {% endif %}
    {% if  condition %}
    {% if a > b and a > c and a > d %}
    <h1>a is max</h1>
    {% else %}
    <h1>c is max</h1>
    {% endif %}
    {% else %}
    {% if b > c and b > d %}
    <h1>b is max</h1>
    {% else %}
    <h1>c is max</h1>
    {% endif %}
    {% endif %}


</body>
</html>